
<div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container-full">
  <div class="w-1/3 mx-auto border" style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
    <br>
    <h1 class="text-center font-semibold text-3xl mb-4">¡¡REGÍSTRATE!!</h1>
  <div class="grid grid-cols-2 grid justify-items-center" style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
    <div style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
      <label>Nombre:</label>
      <div><input type="text" [(ngModel)]="nombre" class="border text-black"></div>
      <br>
    </div>
    <div style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
      <label>Apellido Paterno:</label>
      <div><input type="text" [(ngModel)]="apellPat" class="border text-black"></div>
    </div>
    <div style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
      <label>Apellido Materno:</label>
      <div><input type="text" [(ngModel)]="apellMat" class="border text-black"></div>
      <br>
    </div>
    <div style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
      <label>Dirección:</label>
      <div><input type="text" [(ngModel)]="direccion" class="border text-black"></div>
    </div>
    <div style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
      <label>Teléfono:</label>
      <div><input type="text" [(ngModel)]="telefono" class="border text-black"></div>
      <br>
    </div>
    <div style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
      <label>Correo:</label>
      <div><input type="text" [(ngModel)]="email" class="border text-black"></div>
    </div>
    <div style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
      <label>Usuario:</label>
      <div><input type="text" [(ngModel)]="usuario" class="border text-black"></div>
      <br>
    </div>
    <div style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
      <label>Contraseña:</label>
      <div><input type="password" [(ngModel)]="pass" class="border text-black"></div>
    </div>
  </div>
  <div class=" grid justify-items-center" style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg')">
    <a [routerLink]="['/login']">
      <button (click)="registrar()" class="bg-indigo-500 rounded-full w-40 text-white" >Registrar</button>
    </a>
  </div>
    <br>
  </div>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>






